.search-bar{
    border-bottom: 1px solid #555;
}
.search-bar form{
    display: flex;
    justify-content: center;
}
input{
    width: 100%;
    max-width: 800px;
    padding: 0.5em;
    margin: 1em 0;
}
button{
    padding: 0.5em;
    margin: 1em;
}
