.gallery{
    display: flex;
    flex-direction: row;
    gap: 10px;

    & .thumbnail-list{
        display: flex;
        flex-direction: column;
        max-height: 800px;
        flex-wrap: wrap;
        gap: 10px;

        & .thumbnail{
            border: 1px solid var(--gray);
            cursor: pointer;
        }
    }

    & .selected-image{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--gray);
        flex-wrap: wrap;

        & img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 768px){
    .gallery{
        flex-direction: column-reverse;
        & .thumbnail-list{
            display: flex;
            flex-wrap: wrap;
        }
    }

}