#main-menu{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var();
    margin-bottom: 20px;
    & .blog-title {
        font-size: var(--h3-size );
    }

    & .menu-list{
        display: flex;
        justify-content: center;

        & .menu-item{
            margin: 5px 20px;
        }
    }
}
#main-menu .main-menu-inner{
    max-width: var(--header-width);
    width: 100%;

    
}
.light #main-menu {
    background-color: var(--main-menu-background-light);

    & .menu-list{
        color: var(--main-menu-link-light);
    }

    & .menu-list .menu-item:hover{
        color: var(--main-menu-link-hover-light);
    }

    & .menu-list .menu-item .active{
        color: var(--main-menu-link-active-light)
    }
    & .blog-title{
        color: var(--main-menu-text-light);
    }
}

.dark #main-menu {
    background-color: var(--main-menu-background-dark);

    & .menu-list{
        color: var(--main-menu-link-dark);
    }
    
    & .menu-list .menu-item:hover{
        color: var(--main-menu-link-hover-dark);
    }

    & .menu-list .menu-item .active{
        color: var(--main-menu-link-active-dark)
    }
    & .blog-title{
        color: var(--main-menu-text-dark);
    }
}