#main-menu{
    padding: 20px;
    background-color: var();
    & .blog-title {
        font-size: var(--h3-size );
    }

    & .menu-list{
        display: flex;
        justify-content: center;

        & .menu-item{
            margin: 5px 20px;
        }
    }
}
.light #main-menu {
    background-color: var(--main-menu-background-light);

    & .menu-list{
        color: var(--main-menu-link-light);
    }

    & .menu-list .menu-item:hover{
        color: var(--main-menu-link-hover-light);
    }

    & .menu-list .menu-item .active{
        color: var(--main-menu-link-active-light)
    }
}

.dark #main-menu {
    background-color: var(--main-menu-background-dark);

    & .menu-list{
        color: var(--main-menu-link-dark);
    }
    
    & .menu-list .menu-item:hover{
        color: var(--main-menu-link-hover-dark);
    }

    & .menu-list .menu-item .active{
        color: var(--main-menu-link-active-dark)
    }
}